body {
    background-image: url('https://i.postimg.cc/0y3jyvmV/morfius-i-seo-vertical-525x328-1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(0, 0, 0, 0.7); /* Fundo escuro transparente */
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

h1 {
    font-size: 22px;
    margin-bottom: 20px;
}

label, input, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input, button {
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}